Repository hmcts/rpx-xui-terms-and-conditions, pull requests merged in 2019-11, with the labels that each got.

#14 Feature/build pr env
  Dockerfile
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  hello.js
Labels: ns:xui-terms-and-conditions-pr-14

#31 Feature/liveness endpoint 2
  Dockerfile
  package.json
  server/common/server.ts
  server/index.ts
  server/routes.ts
Labels: ns:xui-terms-and-conditions-pr-31

#15 Demo
  Dockerfile
  package.json
  server/api/controllers/copyManagement/controller.ts
  server/api/controllers/copyManagement/copyManagementController.ts
  server/api/controllers/copyManagement/router.ts
  server/api/errors/index.ts
  server/api/services/copyManagement.service.ts
  server/common/api.yml
  server/common/server.ts
  server/index.ts
  server/routes.ts
  test/copyManagement.controller.spec.ts
  test/copyManagement.service.spec.ts
Labels: ns:xui-terms-and-conditions-pr-15

#33 Readme update with Docker.
  README.md
Labels: ns:xui-terms-and-conditions-pr-33

#23 update jenkins CNP and charts
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
Labels: ns:xui-terms-and-conditions-pr-23

#37 Feature/health endpoints 2
  Dockerfile
  server/api/controllers/copyManagement/router.ts
  server/api/controllers/health/healthController.ts
  server/api/controllers/health/router.ts
  server/api/messages/index.ts
  server/common/api.yml
  server/routes.ts
  test/health.controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-37

#52 Feature/db repositories update
  Dockerfile
  README.md
  build.ts
  package.json
  server/api/controllers/copyManagement/copyManagementController.ts
  server/api/controllers/copyManagement/router.ts
  server/api/controllers/health/healthController.ts
  server/api/controllers/health/router.ts
  server/api/controllers/users/router.ts
  server/api/controllers/users/userController.ts
  server/api/messages/index.ts
  server/api/models/document.dto.ts
  server/api/models/user.dto.ts
  server/api/services/copyManagement.service.ts
  server/api/services/users.service.ts
  server/common/api.yml
  server/database/diagnostics.ts
  server/database/index.ts
  server/database/models/index.ts
  server/database/models/tcApp.model.ts
  server/database/models/tcColumnSet.model.ts
  server/database/models/tcDocument.model.ts
  server/database/models/tcDocumentApp.model.ts
  server/database/models/tcUserAgreement.model.ts
  server/database/repos/TCAppRepository.ts
  server/database/repos/TCDocumentAppRepository.ts
  server/database/repos/TCDocumentRepository.ts
  server/database/repos/TCUserAgreementRepository.ts
  server/database/repos/index.ts
  server/database/scripts/create_db.ts
  server/database/sql/TCApp/add.sql
  server/database/sql/TCApp/create.sql
  server/database/sql/TCApp/find.sql
  server/database/sql/TCApp/init.sql
  server/database/sql/TCDocument/add.sql
  server/database/sql/TCDocument/create.sql
  server/database/sql/TCDocument/find.sql
  server/database/sql/TCDocumentApp/add.sql
  server/database/sql/TCDocumentApp/create.sql
  server/database/sql/TCDocumentApp/find.sql
  server/database/sql/TCUserAgreement/add.sql
  server/database/sql/TCUserAgreement/create.sql
  server/database/sql/TCUserAgreement/find.sql
  server/database/sql/index.ts
  server/routes.ts
  test/health.controller.spec.ts
  test/users.controller.spec.ts
  test/users.service.spec.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-52

#58 Linting issues and disabled tests
  package.json
  server/database/index.ts
  server/database/models/agreement.model.ts
  server/database/models/index.ts
  server/database/models/tcColumnSet.model.ts
  server/database/models/tcDocument.model.ts
  server/database/repos/TCAppRepository.ts
  server/database/repos/TCDocumentAppRepository.ts
  server/database/repos/TCDocumentRepository.ts
  server/database/repos/TCUserAgreementRepository.ts
  server/database/repos/index.ts
  server/database/scripts/create_db.ts
  server/database/sql/index.ts
Labels: ns:xui-terms-and-conditions-pr-58

#59 Allow for getting list of all users that accepted TC
  server/api/controllers/users/userController.ts
  server/api/services/users.service.ts
  server/database/repos/TCUserAgreementRepository.ts
  server/database/sql/TCUserAgreement/getAllAcceptedWithVersion.sql
  server/database/sql/TCUserAgreement/getAllAcceptedWithoutVersion.sql
  server/database/sql/index.ts
Labels: ns:xui-terms-and-conditions-pr-59

#60 Feature/eui 1028 binding to db
  server/api/controllers/apps/appsController.ts
  server/api/controllers/apps/router.ts
  server/api/controllers/copyManagement/copyManagementController.ts
  server/api/controllers/copyManagement/router.ts
  server/api/controllers/documentManagement/documentManagementController.ts
  server/api/controllers/documentManagement/router.ts
  server/api/controllers/users/router.ts
  server/api/controllers/users/userController.ts
  server/api/errors/index.ts
  server/api/interfaces/documents.ts
  server/api/models/document.dto.ts
  server/api/services/apps.service.ts
  server/api/services/copyManagement.service.ts
  server/api/services/documentManagement.service.ts
  server/api/services/users.service.ts
  server/common/api.yml
  server/database/repos/TCAppRepository.ts
  server/database/repos/TCUserAgreementRepository.ts
  server/database/sql/TCApp/all.sql
  server/database/sql/TCUserAgreement/addNoVersion.sql
  server/database/sql/TCUserAgreement/getForLatestVersion.sql
  server/database/sql/index.ts
  server/routes.ts
Labels: ns:xui-terms-and-conditions-pr-60

#61 Feature/add upstream postgre chart
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/requirements.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  infrastructure/main.tf
  server/database/index.ts
Labels: ns:xui-terms-and-conditions-pr-61

#66 typo in configuration files
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/values.aat.template.yaml
Labels: ns:xui-terms-and-conditions-pr-66

#68 PR env cleanup and swagger
  charts/xui-terms-and-conditions/values.preview.template.yaml
Labels: ns:xui-terms-and-conditions-pr-68

#69 stable build
  README.md
  charts/xui-terms-and-conditions/values.aat.template.yaml
Labels: ns:xui-terms-and-conditions-pr-69

#73 Feature/correct chart
  Dockerfile
  Jenkinsfile_CNP
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/requirements.yaml
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/production.yaml
  package-lock.json
  package.json
  server/common/server.ts
  server/common/swagger.ts
  server/database/index.ts
  server/index.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-73

#74 clean up KV secret
  Jenkinsfile_CNP
  infrastructure/main.tf
Labels: ns:xui-terms-and-conditions-pr-74

#64 S2s token validate 1085
  charts/xui-terms-and-conditions/values.yaml
  package.json
  server/api/middlewares/validateClientSecurity.ts
  server/api/services/s2sTokenValidation.service.ts
  server/api/services/userTokenValidation.service.ts
  server/routes.ts
  test/s2sTokenValidation.service.spec.ts
  test/userTokenValidation.service.spec.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-64

#79 Upgrade helm 2.16.1
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/Chart.yaml
  infrastructure/aat.tfvars
Labels: ns:xui-terms-and-conditions-pr-79

#76 update MI object id
  infrastructure/aat.tfvars
Labels: ns:xui-terms-and-conditions-pr-76

#80 Feature/dynamic init of database merge
  config/test.yaml
  jest.config.js
  package.json
  server/api/controllers/health/healthController.ts
  server/api/controllers/users/userController.ts
  server/database/index.ts
  test/copyManagement.controller.spec.ts
  test/copyManagement.service.spec.ts
  test/health.controller.spec.ts
  test/userTokenValidation.service.spec.ts
  test/users.controller.spec.ts
  test/users.service.spec.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-80

#83 update CNP
  Jenkinsfile_CNP
Labels: ns:xui-terms-and-conditions-pr-83

#85 Feature/test coverage
  package.json
  server/api/controllers/users/userController.ts
  server/api/utils/versionNumber.util.spec.ts
  server/api/utils/versionNumber.util.ts
  test/users.controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-85

#88 fixed script issue in docker images
  .nvmrc
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  package.json
  server/api/errors/index.ts
  server/api/middlewares/error.handler.ts
  server/api/middlewares/index.ts
  server/api/middlewares/validateBearerToken.ts
  server/api/middlewares/validateS2Stoken.ts
  server/api/services/tokenDetails.service.ts
  server/common/http.ts
  server/common/interceptors.ts
  server/common/server.ts
  server/common/tunnel.ts
  server/index.ts
  server/routes.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-88

#91 new test for the Apps
  test/apps.Controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-91

#89 update password
  .nvmrc
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  package.json
  server/api/controllers/users/userController.ts
  server/api/errors/index.ts
  server/api/middlewares/error.handler.ts
  server/api/middlewares/index.ts
  server/api/middlewares/validateBearerToken.ts
  server/api/middlewares/validateS2Stoken.ts
  server/api/services/tokenDetails.service.ts
  server/api/utils/versionNumber.util.spec.ts
  server/api/utils/versionNumber.util.ts
  server/common/http.ts
  server/common/interceptors.ts
  server/common/server.ts
  server/common/tunnel.ts
  server/database/index.ts
  server/index.ts
  server/routes.ts
  test/users.controller.spec.ts
  yarn.lock
Labels: ns:xui-terms-and-conditions-pr-89

#92 Setup aat
  server/database/index.ts
Labels: ns:xui-terms-and-conditions-pr-92

#93 testing db schema and data creation
  charts/xui-terms-and-conditions/values.preview.template.yaml
Labels: ns:xui-terms-and-conditions-pr-93

#94 use secret password in aat
  charts/xui-terms-and-conditions/values.aat.template.yaml
Labels: ns:xui-terms-and-conditions-pr-94

#90 Unit tests for User Controller.
  test/users.controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-90

#97 Feature/unit testing document management
  server/api/controllers/documentManagement/documentManagement.controller.spec.ts
  server/api/controllers/documentManagement/documentManagementController.ts
  server/api/controllers/users/userController.ts
  test/users.controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-97

#103 Feature/eui 1148 error hander test
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  test/error.handler.spec.ts
Labels: ns:xui-terms-and-conditions-pr-103

#100 Feature/test validate bearer token
  server/api/middlewares/validateBearerToken.spec.ts
  server/api/middlewares/validateBearerToken.ts
Labels: ns:xui-terms-and-conditions-pr-100

#99 add database ssl
  charts/xui-terms-and-conditions/values.preview.template.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  server/database/index.ts
Labels: ns:xui-terms-and-conditions-pr-99

#104 General tidyup
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  server/database/index.ts
Labels: ns:xui-terms-and-conditions-pr-104

#105 update idam url
  charts/xui-terms-and-conditions/values.yaml
Labels: ns:xui-terms-and-conditions-pr-105

#108 Merge Develop into Master
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  server/api/controllers/documentManagement/documentManagement.controller.spec.ts
  server/api/controllers/documentManagement/documentManagementController.ts
  server/api/controllers/users/userController.ts
  server/api/middlewares/validateBearerToken.spec.ts
  server/api/middlewares/validateBearerToken.ts
  test/apps.Controller.spec.ts
  test/error.handler.spec.ts
  test/users.controller.spec.ts
Labels: ns:xui-terms-and-conditions-pr-108
