Repository hmcts/rpx-xui-terms-and-conditions, pull requests merged in 2020-04, with the labels that each got.

#208 test postgres chart
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/requirements.yaml
Labels: ns:xui, rel:xui-terms-and-conditions-pr-208

#209 Feature/eui 1820 sonar quality lint and coverage
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/requirements.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  jest.config.js
  package.json
  server/common/interceptors.ts
  server/common/server.ts
  server/database/diagnostics.ts
  server/database/scripts/migrate.ts
  sonar-project.properties
  test/apps.Controller.spec.ts
  test/error.handler.spec.ts
  test/health.controller.spec.ts
  test/users.controller.spec.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-209

#211 Feature/update develop with master
  Jenkinsfile_CNP
  README.md
  charts/xui-terms-and-conditions/requirements.yaml
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.json
  config/custom-environment-variables.yaml
  config/default.yaml
  config/production.json
  config/production.yaml
  config/test.yaml
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  package-lock.json
  server/api/configuration/constants.ts
  server/api/configuration/index.ts
  server/api/controllers/config/configController.ts
  server/api/controllers/config/router.ts
  server/api/controllers/health/healthController.ts
  server/api/middlewares/validateBearerToken.spec.ts
  server/api/middlewares/validateBearerToken.ts
  server/api/utils/objectUtilities.spec.ts
  server/api/utils/objectUtilities.ts
  server/appInsights.ts
  server/common/server.ts
  server/common/swagger.ts
  server/database/index.ts
  server/index.ts
  server/routes.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-211

#212 Feature/develop to master
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/requirements.yaml
  jest.config.js
  package.json
  server/common/interceptors.ts
  server/common/server.ts
  server/database/diagnostics.ts
  server/database/index.ts
  sonar-project.properties
  test/apps.Controller.spec.ts
  test/error.handler.spec.ts
  test/health.controller.spec.ts
  test/users.controller.spec.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-212
