Repository hmcts/rpx-xui-terms-and-conditions, pull requests merged in 2020-02, with the labels that each got.

#195 Feature/test envs 18
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.yaml
  config/aat.yaml
  config/custom-environment-variables.json
  config/custom-environment-variables.yaml
  config/default.yaml
  config/demo.yaml
  config/development.yaml
  config/ithc.yaml
  config/preview.yaml
  config/production.json
  config/production.yaml
  config/test.yaml
  server/api/configuration/index.ts
  server/api/controllers/config/configController.ts
  server/appInsights.ts
  server/common/swagger.ts
  server/database/index.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-195

#202 Feature/fix idam api url 5
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  server/api/controllers/config/configController.ts
  server/api/middlewares/validateBearerToken.spec.ts
  server/api/middlewares/validateBearerToken.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-202

#196 Clean up readme files.
  README.md
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
Labels: ns:xui, rel:xui-terms-and-conditions-pr-196

#203 remove docker build
  Jenkinsfile_CNP
Labels: ns:xui, rel:xui-terms-and-conditions-pr-203

#205 test new jenkins
  README.md
Labels: ns:xui, rel:xui-terms-and-conditions-pr-205
