Repository hmcts/rpx-xui-terms-and-conditions, pull requests merged in 2020-01, with the labels that each got.

#118 aat tidy up
  Jenkinsfile_CNP
  charts/xui-terms-and-conditions/values.yaml
  config/custom-environment-variables.yaml
  server/database/index.ts
Labels: ns:xui-terms-and-conditions-pr-118

#119 add test config file
  charts/xui-terms-and-conditions/values.production.template.yaml
Labels: ns:xui-terms-and-conditions-pr-119

#120 remove test config file
  charts/xui-terms-and-conditions/values.production.template.yaml
Labels: ns:xui-terms-and-conditions-pr-120

#121 add AAT yaml
  config/aat.yaml
Labels: ns:xui-terms-and-conditions-pr-121

#126 Update yaml files.
  config/aat.yaml
  config/custom-environment-variables.yaml
  config/development.yaml
  config/production.yaml
  config/test.yaml
Labels: ns:xui-terms-and-conditions-pr-126

#127 Bumping the chart version.
  charts/xui-terms-and-conditions/Chart.yaml
Labels: ns:xui-terms-and-conditions-pr-127

#128 bump chart and variable node config env.
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/values.yaml
Labels: ns:xui-terms-and-conditions-pr-128

#129 bumping version.
  charts/xui-terms-and-conditions/Chart.yaml
Labels: ns:xui-terms-and-conditions-pr-129

#131 bump chart 0.1.5
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/values.yaml
Labels: ns:xui-terms-and-conditions-pr-131

#132 Removing tunnel.
  server/common/server.ts
Labels: ns:xui-terms-and-conditions-pr-132

#133 Chart bump.
  charts/xui-terms-and-conditions/Chart.yaml
Labels: ns:xui-terms-and-conditions-pr-133

#138 Add back in POSTGRES_PASSWORD
  charts/xui-terms-and-conditions/Chart.yaml
  config/aat.yaml
  config/custom-environment-variables.yaml
  config/development.yaml
  config/production.yaml
  config/test.yaml
Labels: ns:xui-terms-and-conditions-pr-138

#145 Feature/attempting fix 7
  charts/xui-terms-and-conditions/Chart.yaml
  server/database/index.ts
  server/index.ts
Labels: ns:xui-terms-and-conditions-pr-145

#125 tidying up the terms and conditions paragraph as it doesnt appear rig…
  server/database/resources/terms.html
Labels: ns:xui-terms-and-conditions-pr-125

#148 Feature/attempting fix 10
  charts/xui-terms-and-conditions/Chart.yaml
  config/aat.yaml
  config/custom-environment-variables.yaml
  config/preview.yaml
  server/api/configuration/index.ts
  server/api/controllers/config/configController.ts
  server/api/utils/objectUtilities.spec.ts
  server/api/utils/objectUtilities.ts
  server/appInsights.ts
  server/database/index.ts
  server/index.ts
Labels: ns:xui-terms-and-conditions-pr-148

#149 Within the Jenkins build, rpx is undefined, as there are no environme…
  server/api/configuration/index.ts
  server/api/controllers/config/configController.ts
  server/database/index.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-149

#150 Feature/attempting fix 12
  README.md
  server/api/configuration/index.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-150

#152 Feature/attempting fix 14
  charts/xui-terms-and-conditions/Chart.yaml
  server/api/configuration/index.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-152

#167 Add ithc tf
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
Labels: ns:xui, rel:xui-terms-and-conditions-pr-167

#170 Yarn Migrate working on PR environment.
  Jenkinsfile_CNP
  README.md
Labels: ns:xui, rel:xui-terms-and-conditions-pr-170

#171 Feature/code clean up
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
  charts/xui-terms-and-conditions/values.aat.template.yaml
  charts/xui-terms-and-conditions/values.preview.template.yaml
  config/aat.yaml
  config/preview.yaml
  server/api/configuration/index.ts
  server/api/controllers/config/configController.ts
  server/appInsights.ts
  server/database/index.ts
Labels: ns:xui, rel:xui-terms-and-conditions-pr-171

#174 Feature/elvs changes 3
  charts/xui-terms-and-conditions/Chart.yaml
  server/database/resources/terms.html
Labels: ns:xui, rel:xui-terms-and-conditions-pr-174

#172 tidying up the terms and conditions paragraph as it doesnt appear rig…
  server/database/resources/terms.html
Labels: ns:xui, rel:xui-terms-and-conditions-pr-172

#176 Chart Bump and update to make sure the pipeline is all working as is.
  README.md
  charts/xui-terms-and-conditions/Chart.yaml
Labels: ns:xui, rel:xui-terms-and-conditions-pr-176

#184 remove mi from preview chart config
  charts/xui-terms-and-conditions/values.preview.template.yaml
Labels: ns:xui, rel:xui-terms-and-conditions-pr-184
